<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAniKTyj7q-FSiYUBc1mmqyCzopedO4vuc</string>
	<key>GCM_SENDER_ID</key>
	<string>185379667405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.romanceradar.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>romanceradar-b996e</string>
	<key>STORAGE_BUCKET</key>
	<string>romanceradar-b996e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185379667405:ios:5af5854fea25968ad59884</string>
</dict>
</plist>